<h2> New Day </h2>

<%= form_for(@calendar_day) do |f| %> 
  <%= f.number_field(:rate, in: 1..10, placeholder: 'Rate Day', class: 'rate') %>
  <%= f.text_field(:title, placeholder:  'Event Title', class: 'field') %>
  <%= f.text_field(:description, placeholder: 'Event Description', class: 'field') %>
  <%= f.hidden_field(:event_date, value: params[:id]) %>
  <%= f.submit 'Submit', class: 'submit' %>

<% end %>
